<!DOCTYPE html>
<html>

<head>
  <title>
    Keylogger
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://unpkg.com/d3-sankey@0.7"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/javascripts/sankey.js"></script> -->
</head>

<body>
  <h2><center>Caleb's 500+ Keystroke Combos</h2></center>
  <svg width="960" height="500"></svg>
</body>
  <!-- This needs to be within or after the body or maybe just load after DOM -->
  <script src="/javascripts/galloway-sankey.js"></script>
</html>
